@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0796C5;
  --accent-color-dark: #001537;
  --text-color: #fff;
  --bg-color: #002045;
  --accent-color: #004B75;
}

body {
  background-color: var(--bg-color);
  font-family: "Oswald", sans-serif;
}